<% provide(:title, 'Video games that teach science') %>

<div class="center hero-unit" style="padding: 40px 5%">
	<h2>Welcome to the</h2>
  <h1>
  	<%= image_tag 'sgc-logo-600_01.png', alt: "Science", style: 'max-width: 100%;' %><%= image_tag 'sgc-logo-600_02.png', alt: "Game", style: 'max-width: 100%;' %><%= image_tag 'sgc-logo-600_03.png', alt: "Center", style: 'max-width: 100%;' %>
  </h1>
  <br />
  <h2>
    Find science games.<br />
    See what scientists, teachers, and students think of them.
  </h2>
  <br />
  <p>
    <%= link_to "Play games!", games_path, class: "btn btn-large btn-success", style: 'margin-bottom: 5px;' %>
    <%= link_to "Review games!", review_path, class: "btn btn-large btn-primary", style: 'margin-bottom: 5px;' %>
    <%= link_to "Discuss games!", "http://forum.sciencegamecenter.org/", class: "btn btn-large btn-warning", style: 'margin-bottom: 5px;', target: "_blank" %>
  </p>
  <p>
    <%= link_to "What is this?", about_path, class: "btn btn-large btn-info", style: 'margin-bottom: 5px;' %>
  </p>
</div>

<ul class="games">
  <%= render @games %>
</ul>

<%= will_paginate(@games, params: { controller: :games, action: :index }) %>
