<% if commentable.comments.count < 1 %>
	<p>There are no comments on this review.</p>
<% else %>
	<% commentable.comments.each do |c| %>
		<%= render 'comments/comment', comment: c %>
	<% end %>
<% end %>

<h3>Leave a comment</h3>
<% if !signed_in? %>
	<p><%= link_to "Sign up", signup_path %> or <%= link_to "log in", login_path %> to leave a comment.</p>
<% else %>

	<%= gravatar_for @current_user %>
  <p>
    <b><%= @current_user.name %></b><br />
    <%= Time.zone.now.to_formatted_s(:long) %>
	</p>

	<%= form_for comment do |f| %>

	  <%= render 'shared/error_messages', object: f.object %>

	  <%= f.text_area :content, rows: 5 %>
	  <p class="form-help">Format using HTML tags or <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">Markdown</a>: **bold** _italics_ [link](http://example.com)</p>

	  <%= f.hidden_field :commentable_id, value: commentable.id %>
	  <%= f.hidden_field :commentable_type, value: commentable.class.name %>

	  <p class="form-help" id="submit-help">After submitting, a site administrator will need to approve your comment before it shows up. We're usually pretty prompt about it.</p>
	  <%= f.submit "Submit comment", :class => "btn btn-large btn-primary" %>
	<% end %>

<% end %>
