<%
  if @topic.present?
    title = "#{@topic.titleize} Blog Posts"
  else
    title = "All Blog Posts"
  end
%>

<% provide(:title, title) %>

<h1><%= title %></h1>

<% if admin? %>
  <p style="text-align: center;"><%= link_to "New blog post", new_blog_post_path, class: 'btn btn-info'  %></p>
  <br />
<% end %>

<div class="blog_posts">
  <%= render partial: 'blog_posts/pinned_and_unpinned_posts' %>
</div>

<% if @pinned_blog_posts.size < 1 && @blog_posts.size < 1 %>
  <p>No blog posts matching that criteria were found. <%= link_to "View all blog posts.", blog_posts_path %></p>
<% end %>

<%= will_paginate %>
