<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
  <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= label_tag :current_password, "Current password" %>
      <%= password_field :current, :password %>

      <%= f.label :password, "New password (if desired)" %>
      <%= f.password_field :password %>

      <p class="form-help" id="submit-help"></p>
      <%= f.submit "Save changes", :class => "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">Change your Gravatar</a>
  </div>
</div>