<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset2">
  <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Screen name" %>
      <%= f.text_field :name %>
      <p class="form-help">A name to represent you to other site visitors. If you are under 13, please <b>DO NOT</b> use your real name. That's not only unsafe; it's boring, too!</p>

      <%= f.label :email %>
      <%= f.text_field :email %>
      <p class="form-help">Your email address. You’ll use this to log in, but it won’t appear on the site. It'll also be used if you forget your password, so make sure it's real.</p>

      <% if @user == @current_user %>

        <% if @user.has_password? %>

        <%= label_tag :current_password, "Current password" %>
        <%= password_field :current, :password %>
        <p class="form-help">Please enter your current password. It's required to keep your account safe.</p>

        <%= f.label :password, "New password (if desired)" %>
        <%= f.password_field :password %>
        <p class="form-help">If you'd like to change your password, enter the new one here. Else, leave it blank. It must be at least 6 characters long.</p>

        <% else %>

        <%= f.label :password, "Password (if desired)" %>
        <%= f.password_field :password %>
        <p class="form-help">If you'd like to set a password so you can log in with just your email address, enter one here. Else, leave it blank. It must be at least 6 characters long.</p>

        <% end %>

      <% end %>

      <% if @current_user.is_admin? %>

      <%= f.label :is_teacher, "#{f.check_box :is_teacher} Teacher".html_safe %>
      <p class="form-help">Is this user a teacher? (This affects where their reviews show up.)</p>

      <%= f.label :is_scientist, "#{f.check_box :is_scientist} Scientist".html_safe %>
      <p class="form-help">Is this user a scientist? (This affects where their reviews show up.)</p>

      <%= f.label :is_game_developer, "#{f.check_box :is_game_developer} Game Developer".html_safe %>
      <p class="form-help">Is this user a game developer? (This affects where their reviews show up.)</p>

      <%= f.label :is_authoritative, "#{f.check_box :is_authoritative} Authoritative".html_safe %>
      <p class="form-help">Is this user authoratative, writing "official" reviews for SGC? (This affects where their reviews show up.)</p>

      <%= f.label :disabled, "#{f.check_box :disabled} Account disabled".html_safe %>
      <p class="form-help">Whether this account is disabled, preventing the user from logging in. If this is an underage user waiting on parental confirmation, their account will be disabled until approved. Only admins can see and change this value directly.</p>

      <% end %>

      <div class="date">
        <%= f.label :birth_date %>
        <%= f.date_select :birth_date, start_year: Time.now.year-150, end_year: Time.now.year %>
        <p class="form-help">The day you were born. We required this when signing up to check if we needed parental consent to activate your account.</p>
      </div>

      <%= f.label :description, "Description" %>
      <%= f.text_field :description %>
      <p class="form-help">A short description of yourself to appear below your name. What are you a teacher of and for how long? Or what kind of games are you a player of?</p>

      <% if @user.is_facebook? %>
        <%= facebook_pic_for @user %>
        <p class="form-help">Since your SGC account is connected to your Facebook account, the SGC shows your Facebook profile picture unless you check the box below.</p>

        <%= f.label :prefers_gravatar, "#{f.check_box :prefers_gravatar} Show my Gravatar instead".html_safe %>
        <p class="form-help">Would you prefer us to use your Gravatar (below) instead of your Facebook profile picture (above)?</p>
      <% end %>

      <p class="form-help" id="submit-help"></p>
      <%= f.submit "Save changes", :class => "btn btn-large btn-primary" %>
    <% end %>

    <hr />

    <a href="http://gravatar.com/emails" target="_blank"><%= gravatar_for @user %>
    Change your Gravatar</a>
    <p class="form-help">We use external service <%= link_to "Gravatar", 'http://gravatar.com' %> to provide your picture based on your email address. If you'd like to change it, do so at the link above. You'll need to sign up for a free Gravatar account and associate it with the email address you're using here, if you don't already have one.</p>

    <% if @user.is_facebook? %>
      <hr />
      <a href='<%= "http://www.facebook.com/#{@user.uid}" %>' target="_blank"><%= facebook_pic_for @user %>
      View my Facebook profile</a>
      <p class="form-help">This Science Game Center account is connected to the Facebook profile linked here.</p>
      <!--<p><a href="#">Disconnect this Facebook profile from this Science Game Center account.</a></p>-->
      <% end %>

  </div>
</div>