<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset2">
  <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      <p class="form-help">Your name, real or imagined. This is how you will appear on the site.</p>

      <%= f.label :email %>
      <%= f.text_field :email %>
      <p class="form-help">Your email address. You’ll use this to log in, but it won’t appear on the site. It'll also be used if you forget your password, so make sure it's real.</p>

      <%= label_tag :current_password, "Current password" %>
      <%= password_field :current, :password %>
      <p class="form-help">Please enter your current password. This helps to keep your account safe.</p>

      <%= f.label :password, "New password (if desired)" %>
      <%= f.password_field :password %>
      <p class="form-help">If you'd like to change your password, enter the new one here. Else, leave it blank. It must be at least 6 characters long.</p>

      <% if @current_user.is_admin? %>
      <%= f.label :disabled, "#{f.check_box :disabled} Account disabled".html_safe %>
      <p class="form-help">Whether this account is disabled, preventing the user from logging in. If this is an underage user waiting on parental confirmation, their account will be disabled until approved. Only admins can see and change this value directly.</p>
      <% end %>

      <div class="date">
        <%= f.label :birth_date %>
        <%= f.date_select :birth_date, start_year: Time.now.year-150, end_year: Time.now.year %>
        <p class="form-help">The day you were born. We required this when signing up to check if we needed parental consent to activate your account.</p>
      </div>

      <p class="form-help" id="submit-help"></p>
      <%= f.submit "Save changes", :class => "btn btn-large btn-primary" %>
    <% end %>

    <hr />
    <a href="http://gravatar.com/emails" target="_blank"><%= gravatar_for @user %>
    Change your Gravatar</a>
    <p class="form-help">We use external service <%= link_to "Gravatar", 'http://gravatar.com' %> to provide your picture based on your email address. If you'd like to change it, do so at the link above. You'll need to sign up for a free Gravatar account and associate it with the email address you're using here, if you don't already have one.</p>
  </div>
</div>