<%= provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset2">

    <div class="form-description">
      <p>If you create an account, you'll be able to post reviews and comments. Just fill out the form below. It's quick and easy!</p>
      <p>Already have an account? <%= link_to "Log in.", login_path %></p>
    </div>

    <%= form_for(@user) do |f| %>

    	<%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      <p class="form-help">Your name, real or imagined. This is how you will appear on the site.</p>

      <%= f.label :email %>
      <%= f.text_field :email %>
      <p class="form-help">Your email address. You’ll use this to log in, but it won’t appear on the site. It'll also be used if you forget your password, so make sure it's real.</p>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <p class="form-help">A super-secret, unique password. If you forget it, you can always reset it using the email address above. It must be at least 6 characters long.</p>

      <div class="date">
        <%= f.label :birth_date %>
        <%= f.date_select :birth_date, start_year: Time.now.year-150, end_year: Time.now.year %>
        <p class="form-help">The day you were born. If you're under thirteen, we'll also need a parent's email address to confirm your account (by law).</p>
      </div>

      <div id="parent_email_fields">
        <%= f.label :parent_email, "Parent's email" %>
        <%= f.text_field :parent_email %>
        <p class="form-help">If you're under thirteen, please provide your parent or guardian's email address (different from your own). They'll just have to click a link to confirm your account.</p>
      </div>

      <%= recaptcha_tags ssl: Rails.env.production? %>
      <p class="form-help">Finally, help us fight spam by demonstrating that you're human.</p>

      <p class="form-help" id="submit-help">By signing up, you agree to our <%= link_to "privacy policy", privacy_path %>.</p>
      <%= f.submit "Create my account", :class => "btn btn-large btn-primary" %>
      
    <% end %>
  </div>
</div>