<% order_array = [["order_by", "Order by"]] %>
<% categories_array = [["subject", "Subjects"], ["platform", "Platforms"], ["cost", "Costs"], ["intended_for", "Intended Ages"], ["developer_type","Developer Types"]] %>

<%= form_tag(url_for(params), method: "get") do %>
  <%= search_field_tag(:title, params[:title], placeholder: "Search by title", class: 'span2') %>
  
  <% (order_array+categories_array).each do |s, f| %>
  <%= hidden_field_tag(s, params[s]) if params[s].present? %>
  <% end %>
<% end %>

<h2 id="categories_top">Categories</h2>

<% categories_array.each do |s, f| %>
<div id="<%=s%>_dropdown">
<%= select :game, s, "GAME_#{s.pluralize.upcase}".constantize, {include_blank: "All #{f}"} %>
</div>
<% end %>

<h2 id="order_by_top">Order by</h2>
<div id="orber_by_dropdown">
<%= select :game, "order_by", [["Last reviewed or updated", "updated_at"], ["Most reviews", "reviews_count"], ["Last added", "created_at"], ["Title A-Z", "title"]] %>
</div>


<script>
$(document).ready(function() {
<% (order_array+categories_array).each do |s, f| %>

  <% if params[s] %>
  	$('#game_<%=s%>').val("<%= params[s] %>");
  <% end %>
  $('#game_<%=s%>').bind('change', function(event) {
    if (event.target.value) {
    	<% if params.count > 2 %>
			window.location.href = "<%= raw (!params[s].blank? && params.count == 3) ? url_for(params.merge(s => nil))+"?#{s}=" : url_for(params.merge(s => nil))+"&#{s}=" %>"+event.target.value;
		<% else %>	
			window.location.href = "<%= raw url_for()+"?#{s}=" %>"+event.target.value;
		<% end %>
    } else {
    	window.location.href = "<%= raw url_for(params.merge(s => nil)) %>";
    }
  });
<% end %>
});
</script>
