<h2 id="categories_top">Categories</h2>

<% [["subject", "Subjects"], ["platform", "Platforms"], ["cost", "Costs"], ["intended_for", "Intended Ages"], ["developer_type","Developer Types"]].each do |s, f| %>
<div id="<%=s%>_dropdown">
<%= select :game, s, Game.tag_counts_on(s.pluralize).order('name ASC').collect {|c| [ c.name, c.name ] }, {include_blank: "All #{f}"} %>
</div>
<% end %>



<script>
$(document).ready(function() {
<% [["subject", "Subjects"], ["platform", "Platforms"], ["cost", "Costs"], ["intended_for", "Intended Ages"], ["developer_type","Developer Types"]].each do |s, f| %>

  <% if params[s] %>
  	$('#game_<%=s%>').val("<%= params[s] %>");
  <% end %>
  $('#game_<%=s%>').bind('change', function(event) {
    if (event.target.value) {
    	<% if params.count > 2 %>
			window.location.href = "<%= raw (!params[s].blank? && params.count == 3) ? url_for(params.merge(s => nil))+"?#{s}=" : url_for(params.merge(s => nil))+"&#{s}=" %>"+event.target.value;
		<% else %>	
			window.location.href = "<%= raw url_for()+"?#{s}=" %>"+event.target.value;
		<% end %>
    } else {
    	window.location.href = "<%= raw url_for(params.merge(s => nil)) %>";
    }
  });
<% end %>
});
</script>