<% params_without_page = params.except(:page) %>

		<ul class="breadcrumb" style="font-size: 18px;">
			<li>
				<%= link_to "All games", games_path %>
			</li>
			<% if params_without_page[:title].present? %>
			<li>
				<span class="divider">&raquo;</span>with a title containing &ldquo;<strong><%= params_without_page[:title] %>&rdquo;</strong>
				<%= link_to "×", params_without_page.merge(title: nil) %>
			</li>
			<% end %>
			<% if params_without_page[:subject].present? %>
			<li>
				<span class="divider">&raquo;</span>dealing with <strong><%= params_without_page[:subject] %></strong>
				<%= link_to "×", params_without_page.merge(subject: nil) %>
			</li>
			<% end %>
			<% if params_without_page[:platform].present? %>
			<li>
				<span class="divider">&raquo;</span>available on <strong><%= params_without_page[:platform] %></strong>
				<%= link_to "×", params_without_page.merge(platform: nil) %>
			</li>
			<% end %>
			<% if params_without_page[:cost].present? %>
			<li>
				<span class="divider">&raquo;</span>cost is <strong><%= params_without_page[:cost] %></strong>
				<%= link_to "×", params_without_page.merge(cost: nil) %>
			</li>
			<% end %>
			<% if params_without_page[:intended_for].present? %>
			<li>
				<span class="divider">&raquo;</span>intended for <strong><%= params_without_page[:intended_for] %></strong>
				<%= link_to "×", params_without_page.merge(intended_for: nil) %>
			</li>
			<% end %>
			<% if params_without_page[:developer_type].present? %>
			<li>
				<span class="divider">&raquo;</span>developed by a <strong><%= params_without_page[:developer_type] %></strong>
				<%= link_to "×", params_without_page.merge(developer_type: nil) %>
			</li>
			<% end %>
		</ul>
		<p class="visible-phone"><a href="#categories_top">Filter more (&#8595;)</a></p>
