<%= f.label :title %>
<%= f.text_field :title %>
<p class="form-help">The game's full title.</p>

<% if admin? %>
<%= f.label :disabled, "#{f.check_box :disabled} Disabled".html_safe %>
<p class="form-help">Uncheck this box to make this game appear to all site visitors. Keep it checked while it's not yet ready for the public eye.</p>
<% else %>
<%= f.hidden_field :disabled %>
<% end %>

<%= f.label :website_url, "Website URL" %>
<%= f.text_field :website_url %>
<p class="form-help">The full address (including <i>http://</i>) for the game's official web site.</p>

<%= f.label :developer, "Developer" %>
<%= f.text_field :developer %>
<p class="form-help">Name and link to developer's website<br />using Markdown, something like [FAS](http://www.fas.org/)</p>

<%= f.label :developer_type_list, "Developer Type" %>
<%= f.text_field :developer_type_list %>
<p class="form-help"><b>Professional Developer</b>, <b>Teacher</b>, or <b>Student</b>, etc.</p>

<%= f.label :subject_list, "Deals with" %>
<%= f.text_field :subject_list %>
<p class="form-help">The general subjects or topics this game deals with, separated by commas. (e.g. biology, chemistry, Pokémon battling). Games can be sorted by these.</p>

<%= f.label :concepts, "Deeper concepts" %>
<%= f.text_field :concepts %>
<p class="form-help">The deeper concepts this game deals with, separated by ' // '. This will show up in the description but <strong>cannot be used for sorting</strong>.</p>

<%= f.label :platform_list, "Available on" %>
<%= f.text_field :platform_list %>
<p class="form-help">The platforms this game has been released for, separated by commas. (e.g. <b>Web (PC/Mac)</b>, <b>Web (iPad/Tablet)</b>, <b>Microsoft Windows</b>, <b>Mac OS X</b>, <b>Game Boy Color></b>). Games can be sorted by these.</p>

<%= f.label :cost_list, "Cost" %>
<%= f.text_field :cost_list %>
<p class="form-help"><b>Free</b>, <b>Paid</b>, and/or <b>Free Demo</b>, separated by commas. List all that apply (for example, Free Demo should always also have Paid listed).</p>

<%= f.label :intended_for_list, "Intended for (age groups)" %>
<%= f.text_field :intended_for_list %>
<p class="form-help">The age group(s) this game was <b>intended</b> (by the developer) to be played by, separated by commas. Acceptable ranges to be determined.</p>

<% if admin? %>
<%= f.label :intended_audience, "Intended audience [OLD]" %>
<%= f.text_field :intended_audience %>
<p class="form-help">[This field has been replaced by the Intended For category type. Transfer all information into that field.] The grade levels, age group, or other group(s) this game was intended to be played by, separated by ' // '. This will show up in the description but cannot be sorted by.</p>
<% else %>
<%= f.hidden_field :intended_audience %>
<% end %>

<%= f.label :description %>
<%= f.text_area :description, rows: 10 %>
<p class="form-help">A description of the game. Facts only. Save opinions for the reviews.<br/>Format using HTML tags or <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a>: **bold** _italics_ [link](http://example.com)</p>

<%= f.label :boxart, "Box art / logo" %>
<% if f.object.boxart.file? %>
<%= image_tag f.object.boxart.url(:large) %>
<% end %>
<%= f.file_field :boxart %>
<p class="form-help">The box art, logo, or (if all that's available) screenshot of this game's title screen, in jpg, gif, or png format. Use as high a resolution as is available; smaller versions will be created automatically.</p>