<li class="row">
	<div class="game span10">
		<div class="row">
			<div class="span5">
				<%= link_to image_tag(game.boxart.url(:large), class: :boxart, alt: ''), game %>
				<br />
				<% if signed_in? && current_user.is_admin? %>
				<%= render 'games/admin_tools', game: game %>
				<% end %>
			</div>
			<div class="span5">
			  <p class="title" style="line-height: 1.3;"><i><%= link_to game.title, game %></i></p>
			  	<% if admin? && game.disabled? %>
						<div class="alert">
							<strong>Disabled.</strong> This game is hidden from public view. Edit it to enable.
						</div>
					<% end %>
			  <%= render 'games/game_info_condensed', game: game, hide_title: true %>
				<small><%= link_to "View this game's profile", game, class: 'btn', style: 'margin: 5px; margin-left: 0; font-weight: normal;' %></small>
			</div>
		</div>
	</div>
</li>
