<li class="row">
	<div class="game span10">
		<div class="row">
			<div class="span2">
				<%= link_to image_tag(game.boxart.url(:medium), class: :boxart), game %>
			</div>
			<div class="span8">
			  <p class="title"><%= link_to game.title, game %></p>
			  <p class="subjects info_line"><b>Subjects:</b> <%= subject_links_list(game) %></p>
				<p class="platforms info_line"><b>Available on:</b> <%= platform_links_list(game) %></p>
			  <p class="info_line">Reviews: <%= link_to pluralize(game.player_reviews.count, "player review"), game_path(game, anchor: "player_reviews") %>, 0 expert reviews</p>
			</div>
		</div>
	</div>
</li>