<div class="row">
	<li class="game span12">
		<div class="row">
			<div class="span2">
				<%= link_to image_tag(game.boxart.url(:medium), class: :boxart), game %>
			</div>
			<div class="<%= (signed_in? && current_user.is_admin?) ? 'span9' : 'span10'%>">
			  <p class="title"><%= link_to game.title, game %></p>
			  <p class="info_line">Subjects:</p>
			  <p class="info_line">Available on:</p>
			  <p class="info_line">Reviews: <%= link_to pluralize(game.player_reviews.count, "player review"), game_path(game, anchor: "player_reviews") %>, 0 expert reviews</p>
			</div>
			<% if signed_in? && current_user.is_admin? %>
			<div class="span1">
				<%= render 'games/admin_tools', game: game %>
			</div>
			<% end %>
		 </div>
	</li>
</div>