<li class="row">
	<div class="game span10">
		<div class="row">
			<div class="span2">
				<%= link_to image_tag(game.boxart.url(:medium), class: :boxart), game %>
				<br />
				<% if signed_in? && current_user.is_admin? %>
				<%= render 'games/admin_tools', game: game %>
				<% end %>
			</div>
			<div class="span8">
			  <p class="title"><i><%= link_to game.title, game %></i> <small><%= link_to "View this game's profile", game, style: "color: #ccc;" %></small></p>
			  <%= render 'games/game_info', game: game, hide_title: true %>
			</div>
		</div>
	</div>
</li>