<%= form_for @player_review, url: player_reviews_path(method: :post, anchor: :new_player_review) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= render 'player_reviews/fields', f: f %>

      <%= f.hidden_field :game_id, value: @game.id %>

      <p class="form-help" id="submit-help">After submitting, a site administrator will need to approve your review before it shows up. We're usually pretty prompt about it.</p>
      <%= f.submit "Submit review", :class => "btn btn-large btn-primary" %>
<% end %>