<hr />
<div class="row" id="scorecards"><div class="span12">

<h2>Scorecards</h2>

<div class="row">

<!-- AUTHORITATIVE -->
<div class="span3"><table class="table table-bordered">
<thead>
<tr>
	<th colspan="2"><strong><%= link_to "Authoritative Reviews", game_path(@game, anchor: 'authoritative_reviews') %></strong><br/>
		Our official reviews</th>
	<th>&mdash;</th>
</tr>
</thead>
<tbody>
<tr>
	<td colspan="3" rowspan="3">
		We haven't published our authoritative reviews of <i><%= @game.title %></i> quite yet. Rest assured that we'll have them up shortly!
	</td>
</tr>
</tbody>
</table></div>

<!-- EXPERT -->
<div class="span3"><table class="table table-bordered">
<thead>
<tr>
	<th colspan="2"><strong><%= link_to "Expert Reviews", game_path(@game, anchor: 'expert_reviews') %></strong><br/>
		By scientists and teachers</th>

	<% if game.expert_averages_total >= 0 %>
	<th class="score_total_cell">
		<span class="score_total"><%= ((game.expert_averages_total / 15) * 100).to_i %></span><span class="percent_sign">%</span>
	</th>
	<% else %>
	<th>&mdash;</th>
	<% end %>

</tr>
</thead>
<% if game.expert_averages_total >= 0 %>
<tbody>
<tr>
	<th width="30px"><%= t('review.fun') %></th>
	<td width="*%">
		<div class="progress <%= progress_color(game.expert_fun_average) %>">
			<div class="bar" style="width: <%= game.expert_fun_average * 20 %>%;"></div>
		</div>
	</td>
	<td width="30px">
		<%= game.expert_fun_average %>
	</td>
</tr>
<tr>
	<th><%= t('review.learning') %></th>
	<td width="*%">
		<div class="progress <%= progress_color(game.expert_effectiveness_average) %>">
			<div class="bar" style="width: <%= game.expert_effectiveness_average * 20 %>%;"></div>
		</div>
	</td>
	<td>
		<%= game.expert_effectiveness_average %>
	</td>
</tr>
<tr>
	<th><%= t('review.science') %></th>
	<td width="*%">
		<div class="progress <%= progress_color(game.expert_accuracy_average) %>">
			<div class="bar" style="width: <%= game.expert_accuracy_average * 20 %>%;"></div>
		</div>
	</td>
	<td>
		<%= game.expert_accuracy_average %>
	</td>
</tr>
</tbody>
<% else %>
<tbody>
<tr>
	<td colspan="3" rowspan="3">
		We don't have any expert reviews yet for <i><%= @game.title %></i>.<br />
		Are you a scientist who has played this game or a teacher who has used it in the classroom? <%= link_to "Contact us about writing an expert review today.", contact_path %>
	</td>
</tr>
</tbody>
<% end %>

</table>
</div>

<!-- PLAYER -->
<div class="span4"><table class="table table-bordered">
<thead>
<tr>
	<th colspan="2"><strong><%= link_to "Player Reviews", game_path(@game, anchor: 'player_reviews') %></strong><br/>
		By everyone else (and you!)</th>

	<% if game.player_averages_total >= 0 %>
	<th class="score_total_cell">
		<span class="score_total"><%= ((game.player_averages_total / 15) * 100).to_i %></span><span class="percent_sign">%</span>
	</th>
	<% else %>
	<th>&mdash;</th>
	<% end %>

</tr>
</thead>
<% if game.player_averages_total >= 0 %>
<tbody>
<tr>
	<th width="50px"><%= t('review.fun') %></th>
	<td width="*%">
		<div class="progress <%= progress_color(game.player_fun_average) %>">
			<div class="bar" style="width: <%= game.player_fun_average * 20 %>%;"></div>
		</div>
	</td>
	<td width="30px">
		<%= game.player_fun_average %>
	</td>
</tr>
<tr>
	<th><%= t('review.learning') %></th>
	<td width="*%">
		<div class="progress <%= progress_color(game.player_effectiveness_average) %>">
			<div class="bar" style="width: <%= game.player_effectiveness_average * 20 %>%;"></div>
		</div>
	</td>
	<td>
		<%= game.player_effectiveness_average %>
	</td>
</tr>
<tr>
	<th><%= t('review.science') %></th>
	<td width="*%">
		<div class="progress <%= progress_color(game.player_accuracy_average) %>">
			<div class="bar" style="width: <%= game.player_accuracy_average * 20 %>%;"></div>
		</div>
	</td>
	<td>
		<%= game.player_accuracy_average %>
	</td>
</tr>
</tbody>
<% else %>
<tbody>
<tr>
	<td colspan="3" rowspan="3">
		No players have left any reviews yet for <i><%= @game.title %></i>.<br />
		Have you played this game? <%= link_to "Share your experience below!", game_path(@game, anchor: 'new_player_review') %>
	</td>
</tr>
</tbody>
<% end %>

</table>


</div>

</div>

</div></div>