<% provide(:title, "Edit game") %> 
<h1>Edit game</h1>

<div class="row">
  <div class="span6 offset3">

    <%= form_for @game, :html => { :multipart => true } do |f| %>

    	<%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title %>
      <p class="form-help">The game's full title.</p>

      <%= f.label :platform_list, "Available on" %>
      <%= f.text_field :platform_list %>
      <p class="form-help">The platforms this game has been released for, separated by commas. (e.g. PC (Windows), Mac, Game Boy Color)</p>

      <%= f.label :subject_list, "Subjects" %>
      <%= f.text_field :subject_list %>
      <p class="form-help">The subjects this game deals with, separated by commas. (e.g. Biology, Chemistry, Pokémon Battling)</p>

      <%= f.label :description %>
      <%= f.text_area :description, rows: 10 %>
      <p class="form-help">A description of the game. Facts only. Save opinions for the reviews.<br/>Format using HTML tags or <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a>: **bold** _italics_ [link](http://example.com)</p>

      <%= f.label :website_url, "Website URL" %>
      <%= f.text_field :website_url %>
      <p class="form-help">The full address (including <i>http://</i>) for the game's official web site.</p>

      <%= f.label :developer, "Developer" %>
      <%= f.text_field :developer %>
      <p class="form-help">Name and link to developer's website<br />using Markdown, something like [FAS](http://www.fas.org/)</p>

      <%= f.label :boxart %>
      <% if @game.boxart.file? %>
      <%= image_tag @game.boxart.url %>
      <% end %>
      <%= f.file_field :boxart %>

      <p class="form-help" id="submit-help"><b>Be aware:</b> Upon saving, this game will immediately be visible on the site.</p>
      <%= f.submit "Update game", :class => "btn btn-large btn-primary" %>
      
    <% end %>
  </div>
</div>