<% provide(:title, "Edit game") %> 
<h1>Edit game</h1>

<div class="row">
  <div class="span6 offset2">

    <%= form_for @game, :html => { :multipart => true } do |f| %>

    	<%= render 'shared/error_messages', object: f.object %>

      <%= render 'games/fields', f: f %>

      <p class="form-help" id="submit-help"><b>Be aware:</b> Upon saving, this game will immediately be visible on the site.</p>
      <%= f.submit "Update game", :class => "btn btn-large btn-primary" %>
      
    <% end %>

    <p>
      <%= link_to "Delete game", @game, method: :delete, confirm: "Are you sure you want to destroy this game now and for the rest of time, with no going back?" %>
    </p>
  </div>
</div>