<%= provide(:title, 'Games') %>

<div class="row">
	<div class="span10">

		<h1 class="left">Games</h1>

		<% if !params[:platform].blank? || !params[:subject].blank? %>
		<ul class="breadcrumb">
			<li>
				<%= link_to "Games", games_path %>
			</li>
			<% if !params[:subject].blank? %>
			<li>
				<span class="divider">&raquo;</span> <strong><%= params[:subject] %></strong>
			</li>
			<% end %>
			<% if !params[:platform].blank? %>
			<li>
				<span class="divider">&raquo;</span> <strong><%= params[:platform] %></strong>
			</li>
			<% end %>
			<li>
				&nbsp;&nbsp;&nbsp;<%= link_to "View all games", games_path %>
			</li>
		</ul>
		<% end %>

		<ul class="games">
		  <%= render @games %>
		</ul>
		<% if @games.count < 1 %>
			<p>No games matching that criteria were found. <%= link_to "View all games.", games_path %></p>
		<% end %>

		<%= will_paginate %>

		<% if signed_in? && @current_user.is_admin? %>
		<p><%= link_to "Create a new game", new_game_path %></p>
		<% end %>
	</div>

	<div class="span2">
		<a href="#"><img src="http://placehold.it/140x140" style="margin-bottom: 10px; border: 1px solid #999;" /></a>
		<a href="#"><img src="http://placehold.it/140x140" style="margin-bottom: 10px; border: 1px solid #999;" /></a>
		<a href="#"><img src="http://placehold.it/140x140" style="margin-bottom: 10px; border: 1px solid #999;" /></a>
		<a href="#"><img src="http://placehold.it/140x140" style="margin-bottom: 10px; border: 1px solid #999;" /></a>
		
	</div>
</div>
