<%= provide(:title, 'Games') %>

		<h1 class="left">Games</h1>
		<p>
			<% if !@any_category_defined %>
				<span class="visible-phone"><strong>Get specific!</strong> Use the Catergories dropdowns <a href="#categories_top">below (&#8595;)</a> to filter.</span>
				<span class="hidden-phone"><strong>Get specific!</strong> Use the Catergories dropdowns to the right (&#8594;) to filter.</span>
			<% end %>
		</p>
		<%= will_paginate if params[:page] %>
		<% if @any_category_defined %>
		<%= render 'games/category_breadcrumbs' %>
		<% end %>

		<ul class="games">
		  <%= render @games %>
		</ul>
		<% if @games.count < 1 %>
			<p>No games matching that criteria were found. <%= link_to "View all games.", games_path %></p>
		<% end %>

		<%= will_paginate %>

		<% if admin? %>
		<p><%= link_to "Create a new game", new_game_path %></p>
		<% elsif signed_in? %>
		<p><%= link_to "Submit a game", new_game_path %></p>
		<% else %>
		<p><%= link_to "Suggest a game", contact_path %></p>
		<% end %>
