<%= provide(:title, 'Games') %>

		<h1 class="left">Games</h1>

		<% if !params[:platform].blank? || !params[:subject].blank? %>
		<ul class="breadcrumb">
			<li>
				<%= link_to "Games", games_path %>
			</li>
			<% if !params[:subject].blank? %>
			<li>
				<span class="divider">&raquo;</span> <strong><%= params[:subject] %></strong>
			</li>
			<% end %>
			<% if !params[:platform].blank? %>
			<li>
				<span class="divider">&raquo;</span> <strong><%= params[:platform] %></strong>
			</li>
			<% end %>
			<li>
				&nbsp;&nbsp;&nbsp;<%= link_to "View all games", games_path %>
			</li>
		</ul>
		<% end %>

		<ul class="games">
		  <%= render @games %>
		</ul>
		<% if @games.count < 1 %>
			<p>No games matching that criteria were found. <%= link_to "View all games.", games_path %></p>
		<% end %>

		<%= will_paginate %>

		<% if signed_in? && @current_user.is_admin? %>
		<p><%= link_to "Create a new game", new_game_path %></p>
		<% end %>
