<%= provide(:title, 'Games') %>

		<h1 class="left">Games</h1>
		<p style="float: right;" class="hidden-phone"><%= link_to "Suggest a game", contact_path %></p>
		<p>
			<%= link_to "Filter by subject", subjects_path %> | 
			<%= link_to "Filter by platform", platforms_path %>
			<span class="visible-phone"> | <%= link_to "Suggest a game", contact_path %></span>
		</p>
		<%= will_paginate if params[:page] %>
		<% if !params[:platform].blank? || !params[:subject].blank? %>
		<ul class="breadcrumb" style="font-size: 18px;">
			<li>
				<%= link_to "All games", games_path %>
			</li>
			<% if !params[:subject].blank? %>
			<li>
				<span class="divider">&raquo;</span>dealing with <strong><%= params[:subject] %></strong>
			</li>
			<% end %>
			<% if !params[:platform].blank? %>
			<li>
				<span class="divider">&raquo;</span>available on <strong><%= params[:platform] %></strong>
			</li>
			<% end %>
		</ul>
		<% end %>

		<ul class="games">
		  <%= render @games %>
		</ul>
		<% if @games.count < 1 %>
			<p>No games matching that criteria were found. <%= link_to "View all games.", games_path %></p>
		<% end %>

		<%= will_paginate %>

		<% if signed_in? && @current_user.is_admin? %>
		<p><%= link_to "Create a new game", new_game_path %></p>
		<% end %>
