<%= provide(:title, 'New game') %>
<h1>New game</h1>

<div class="row">
  <div class="span6 offset2">

    <div class="form-description">
      <p>Use this form to add a new game to our authoritative list.</p>
    </div>

    <%= form_for(@game) do |f| %>

    	<%= render 'shared/error_messages', object: f.object %>

      <%= render 'games/fields', f: f %>

      <p class="form-help" id="submit-help"><b>Be aware:</b> Upon saving, this game will immediately be visible on the site.</p>
      <%= f.submit "Create game", :class => "btn btn-large btn-primary" %>
      
    <% end %>
  </div>
</div>