<%= provide(:title, 'New game') %>
<% if admin? %>
<h1>New game</h1>
<% else %>
<h1>Suggest a game</h1>
<% end %>

<div class="row">
  <div class="span8 offset1">

    <div class="form-description">
      <% if admin? %>
      <p>Use this form to add a new game to our list.</p>
      <% else %>
      <p>Use this form to suggest a new game to be listed on the Science Game Center.</p>

      <p>We are looking for games that teach science to people aged 10 and up.  We have defined science as Economics, Biology, Ecology, Chemistry, Physics, Geology, Math, Programming, Systems design, Experimental design, and Making conclusions from data. Please do not submit a game you know involves none of this subject areas. Your submission will be reviewed to ensure it meets our criteria and edited to ensure consistency with other game profiles.</p>

      <p>See below near the Description field for more on what information to include.</p> 

      <p>In any case, thank you for helping us to educate others about educational games!</p> 
      <% end %>
    </div>

    <%= form_for(@game) do |f| %>

    	<%= render 'shared/error_messages', object: f.object %>

      <%= render 'games/fields', f: f %>

      <% if admin? %>
      <p class="form-help" id="submit-help"><b>Be aware:</b> Upon saving, this game will immediately be visible on the site unless <b>Disabled</b> is checked above.</p>
      <%= f.submit "Create game", :class => "btn btn-large btn-primary" %>
      <% else %>
      <%= f.submit "Submit game suggestion", :class => "btn btn-large btn-primary" %>
      <% end %>
      
    <% end %>
  </div>
</div>