<%= provide(:title, @game.title) %>
<!--
<ul class="breadcrumb">
	<li>
		<%= link_to "Games", games_path %> <span class="divider">&raquo;</span>
	</li>
	<li>
		<i><%= @game.title %></i>
	</li>
</ul>
-->
<div class="row">
	<div class="span4 game-info">
		<%= tracked_link_to image_tag(@game.boxart.url(:medium), class: :boxart, alt: "Visit this game's website"), @game.website_url, title: "Visit this game's website", target: '_blank' %>
		<br />
		<%= render 'games/game_info', game: @game %>
		<center><%= tracked_link_to 'Play this game!<br /><small>on its own website</small>'.html_safe, @game.website_url, class: "btn btn-large btn-success", style: "margin: 5px", target: "_blank" %></center>
		<center><%= link_to 'See Scorecards', '#scorecards', class: "btn btn-large btn-info", style: "margin: 5px;" %></center>
		<center><%= link_to 'Review this game!', '#new_player_review', class: "btn btn-large btn-primary", style: "margin: 5px;" %></center>
		<% if signed_in? && current_user.is_admin? %>
		<hr />
		<div style="margin-left: 5px; margin-top: 10px;"><%= render 'games/admin_tools', game: @game %></div>
		<% end %>
	</div>

	<div class="span6" style="max-width: 459px;">
		<h1 class="left"><i><%= @game.title %></i></h1>
		<% if admin? && @game.disabled? %>
			<div class="alert">
				<strong>Disabled.</strong> This game is hidden from public view. Edit it to enable.
			</div>
		<% end %>
		<div class="description">
			<%= markdown @game.description %>
		</div>
	</div>

</div>

<style>
	#top_banners_wrapper {
		background: #d3d3d3 url('<%= random_screenshot_image(@game).url(:banner) %>') repeat center !important;
		background-size: cover;
	}
</style>

<%= render 'games/screenshots' if @game.screenshots.count > 0 %>

<%= render 'games/scorecard', game: @game %>

<div id="authoritative_reviews">
<hr />
<h2 class="left">Authoritative Reviews</h2>
<% @authoritative_reviews.each do |review| %>
	<% if review.approved? || (review.pending? && signed_in? && current_user?(review.user)) || signed_in? && admin? %>
	<%= render 'player_reviews/player_review', review: review %>
	<hr />
	<% end %>
<% end %>

<% if @authoritative_reviews.count <= 0 %>
	<p>None yet.</p>
	<hr />
<% end %>

</div>

<div id="expert_reviews">
<h2 class="left">Expert Reviews</h2>
<% @expert_reviews.each do |review| %>
	<% if review.approved? || (review.pending? && signed_in? && current_user?(review.user)) || signed_in? && admin? %>
	<%= render 'player_reviews/player_review', review: review %>
	<hr />
	<% end %>
<% end %>

<% if @expert_reviews.count <= 0 %>
	<p>None yet.</p>
	<hr />
<% end %>

</div>

<div id="player_reviews">
<h2 class="left">Player Reviews</h2>
<% @player_reviews.each do |review| %>
	<% if review.approved? || (review.pending? && signed_in? && current_user?(review.user)) || signed_in? && admin? %>
	<%= render 'player_reviews/player_review', review: review %>
	<hr />
	<% end %>
<% end %>

<% if @player_reviews.count <= 0 %>
	<p>None yet. Leave your review below!</p>
	<hr />
<% end %>

</div>

<h3>Leave a review</h3>
<% if signed_in? && @game.player_reviews.where(user_id: @current_user.id).count < 1 %>
<div class="row" id="new_player_review">
  <div class="span10">

    <div class="form-description">
      <p>Have you played this game? Share your experience by leaving a review!</p>
    </div>

    <%= gravatar_for @current_user %>
    <p>
	    <b><%= @current_user.name %></b><br />
	    <%= @current_user.roles %>
  	</p>
  	<br />

    <%= render 'games/new_player_review', player_review: @player_review %>
      
  </div>
</div>
<% elsif signed_in? %>
<div class="row" id="new_player_review">
  <div class="span10">
		<p>Thanks for reviewing! You can only review each game once. If you'd like, you are welcome to edit your existing review above.</p>
	</div>
</div>
<% else %>
<div class="row" id="new_player_review">
  <div class="span10">
		<p><%= link_to "Sign up", signup_path %> or <%= link_to "log in", login_path %> to post a review of your own!</p>
	</div>
</div>
<% end %>