<%= provide(:title, @game.title) %>

<p class="breadcrumbs"><%= link_to "Games", games_path %> &raquo;</p>

<%= link_to image_tag(@game.boxart.url(:medium), class: :boxart), @game.boxart.url(:large) %>

<h1 class="left"><%= @game.title %></h1>
<% if signed_in? && current_user.is_admin? %>
<%= render 'games/admin_tools', game: @game %>
<% end %>

<p class="topics info_line">Subjects:</p>
<p class="platforms info_line">Available on:</p>
<% if !@game.website_url.empty? %>
<p class="website info_line">Official website: <a href="<%= @game.website_url %>"><%= @game.website_url %></a></p>
<% end %>
<br />
<div class="description">
	<%= markdown @game.description %>
	<a id="player_reviews"></a>
</div>
<div id="player_reviews">
<hr />
<h2 class="left">Player Reviews of <i><%= @game.title %></i></h2>
<% @player_reviews.each do |review| %>
	<%= render 'player_reviews/player_review', review: review %>
	<hr />
<% end %>
</div>

<% if signed_in? && @player_reviews.where(user_id: @current_user.id).count < 1 %>
<div class="row" id="new_player_review">
  <div class="span12">

    <div class="form-description">
      <p>Have you played this game? Share your experience by leaving a review!</p>
    </div>

    <%= gravatar_for @current_user %>
    <p>
	    <b><%= @current_user.name %></b><br />
	    <%= Time.zone.now.to_date.to_formatted_s(:long) %>
  	</p>
  	<br />

    <%= form_for @player_review, url: player_reviews_path(method: :post, anchor: :new_player_review) do |f| %>

    	<%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title, "Review title" %>
      <%= f.text_field :title %>
      <p class="form-help">A title for this review</p>

      <%= f.label :content %>
      <%= f.text_area :content %>
      <p class="form-help">Tell us all about this game and what you think of it.<br/>Format using HTML tags or <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a>: **bold** _italics_ [link](http://example.com)</p>

      <%= f.label :fun_rating %>
		  <%= f.text_field :fun_rating %>
		  <p class="form-help">A number out of five, where 5 is the most fun.</p>

		  <%= f.label :accuracy_rating %>
		  <%= f.text_field :accuracy_rating %>
		  <p class="form-help">A number out of five, where 5 is the most scientifically accurate.</p>

		  <%= f.label :effectiveness_rating %>
		  <%= f.text_field :effectiveness_rating %>
		  <p class="form-help">A number out of five, where 5 is the most effective at teaching.</p>

      <%= f.hidden_field :game_id, value: @game.id %>
      <%= f.hidden_field :user_id, value: @current_user.id %>

      <p class="form-help" id="submit-help">After submitting, a site administrator will need to approve your review before it shows up. We're usually pretty prompt about it.</p>
      <%= f.submit "Submit review", :class => "btn btn-large btn-primary" %>
      
    <% end %>
  </div>
</div>
<% elsif signed_in? %>
<div class="row" id="new_player_review">
  <div class="span12">
		<p>Thanks for reviewing! You can only review each game once. If you'd like, you are welcome to edit your existing review above.</p>
	</div>
</div>
<% else %>
<div class="row" id="new_player_review">
  <div class="span12">
		<p><%= link_to "Sign up", signup_path %> or <%= link_to "log in", login_path %> to post a review of your own!</p>
	</div>
</div>
<% end %>