<%= provide(:title, @game.title) %>
<!--
<ul class="breadcrumb">
	<li>
		<%= link_to "Games", games_path %> <span class="divider">&raquo;</span>
	</li>
	<li>
		<i><%= @game.title %></i>
	</li>
</ul>
-->
<div class="row">
	<div class="span4">
		<%= link_to image_tag(@game.boxart.url(:medium), class: :boxart), @game.boxart.url(:huge) %>
		<br />
		<%= render 'games/game_info', game: @game %>
	</div>

	<div class="span6">
		<h1 class="left"><%= @game.title %></h1>
		<div class="description">
			<%= markdown @game.description %>
		</div>
	</div>

</div>

<style>
	#top_banners_wrapper {
		background: #d3d3d3 url('<%= random_screenshot_image(@game).url(:banner) %>') repeat center !important;
		background-size: cover;
	}
</style>

<%= render 'games/scorecard', game: @game %>

<%= render 'games/screenshots' if @game.screenshots.count > 0 %>

<div id="player_reviews">

<hr />
<h2 class="left">Player Reviews of <i><%= @game.title %></i></h2>

<% @player_reviews.each do |review| %>
	<% if review.approved? || (review.pending? && signed_in? && current_user?(review.user)) || signed_in? && admin? %>
	<%= render 'player_reviews/player_review', review: review %>
	<hr />
	<% end %>
<% end %>
</div>

<% if signed_in? && @player_reviews.where(user_id: @current_user.id).count < 1 %>
<div class="row" id="new_player_review">
  <div class="span10">

    <div class="form-description">
      <p>Have you played this game? Share your experience by leaving a review!</p>
    </div>

    <%= gravatar_for @current_user %>
    <p>
	    <b><%= @current_user.name %></b><br />
	    <%= Time.zone.now.to_date.to_formatted_s(:long) %>
  	</p>
  	<br />

    <%= render 'games/new_player_review', player_review: @player_review %>
      
  </div>
</div>
<% elsif signed_in? %>
<div class="row" id="new_player_review">
  <div class="span10">
		<p>Thanks for reviewing! You can only review each game once. If you'd like, you are welcome to edit your existing review above.</p>
	</div>
</div>
<% else %>
<div class="row" id="new_player_review">
  <div class="span10">
		<p><%= link_to "Sign up", signup_path %> or <%= link_to "log in", login_path %> to post a review of your own!</p>
	</div>
</div>
<% end %>