<div class="player_review" id="<%= current_user?(review.user) ? 'new_player_review' : '' %>">
	<% if review.user %>
	<%= gravatar_for review.user %>
	<% end %>

	<h3><%= review.title %></h3>
	<p>
		<i>by <%= review.user ? review.user.name : "someone" %> on <%= review.created_at.to_date.to_formatted_s(:long) %></i>
		<% if signed_in? && @current_user.is_admin? %>
			 - 
			<%= link_to "Edit review", edit_player_review_path(review) %>,
			<%= link_to "Delete review", review, method: :delete, confirm: "Are you sure you want to destroy this review now and for the rest of time, with no going back?" %>
		<% end %>
		<% if signed_in? && current_user?(review.user) && !@current_user.is_admin? %>
		 - 
		 <%= link_to "Edit your review", edit_player_review_path(review) %>
	<% end %>
	</p>

	<% if (current_user?(review.user) || @current_user.is_admin?) && review.pending? %>
	<div class="alert">
		<strong>Pending.</strong> This review is awaiting administrator approval before it appears on the site.
	</div>
	<% end %>

	<div><%= markdown review.content %></div>
	<p>
		<% if review.fun_rating %>
		<div class="row">
			<div class="span4">
				<h4>Fun rating: <%= review.fun_rating %></b> out of 5</h4>
				<div class="progress <%= progress_color(review.fun_rating) %>">
					<div class="bar" style="width: <%= review.fun_rating * 20 %>%;"></div>
				</div>
			</div>
			<div class="span4">
				<h4>Accuracy rating: <%= review.accuracy_rating %></b> out of 5</h4>
				<div class="progress <%= progress_color(review.accuracy_rating) %>">
					<div class="bar" style="width: <%= review.accuracy_rating * 20 %>%;"></div>
				</div>
			</div>
			<div class="span4">
				<h4>Effectiveness rating: <%= review.effectiveness_rating %></b> out of 5</h4>
				<div class="progress <%= progress_color(review.effectiveness_rating) %>">
					<div class="bar" style="width: <%= review.effectiveness_rating * 20 %>%;"></div>
				</div>
			</div>
		</div>
		<% end %>
</div>