<% provide(:title, "Editing a review for #{@player_review.game.title}") %>

<h1 class="left">Editing a review for <%= @player_review.game.title %></h1>
<% if @player_review.user %>
	<div class="user_info">
		<%= avatar_for @player_review.user %>
		<h2>by <%= @player_review.user.name %></h2>
		<% if @current_user.is_admin? %>
		<p>Email this user: <%= link_to @player_review.user.email, @player_review.user.email %></p>
		<% end %>
	</div>
<% else %>
	<h2>by a user that has since been deleted</h2>
<% end %>

<div class="row">
	<div class="span10">
		<%= form_for(@player_review) do |f| %>

			<%= render 'shared/error_messages', object: f.object %>

		  <%= f.label :title, "Review title" %>
		  <%= f.text_field :title, style: 'font-size: 1.7em;' %>
		  <p class="form-help">A title for this review</p>

		  <%= f.label :content %>
		  <%= f.text_area :content %>
		  <p class="form-help">Tell us all about this game and what you think of it.<br/>Format using HTML tags or <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a>: **bold** _italics_ [link](http://example.com)</p>

      <div class="row">

            <div class="span3">
                  <%= f.label :fun_rating, t('review.fun_rating') %>
                  <%= f.text_field :fun_rating, class: 'rating_input', type: "number", min: 0, max: 5 %>
                  <p class="form-help">A number out of five, where 5 is the most fun.</p>
                  <p class="form-help">Do I want to play again? Did I try to beat my friends' high scores? Is it clear how to play, how to get a high score? A game that makes you want to play again is especially good for a learning game, since we all learn more the second time around! Is the idea of the game fun, but the execution of the game still confusing, buggy or not timed right? Perhaps the game needs polish?</p>
            </div>

            <div class="span3">
                  <%= f.label :effectiveness_rating, t('review.effectiveness_rating') %>
                  <%= f.text_field :effectiveness_rating, class: 'rating_input', type: "number", min: 0, max: 5 %>
                  <p class="form-help">A number out of five, where 5 is the most effective at teaching.</p>
                  <p class="form-help">Do I need to learn the science to master the game, or can I beat the game and ignore the science? Does the game mechanic (what you do to win) match well with the concepts being taught? For example, checkers is a game mechanic, and you could make one side Earth and the other side Pollution and call it a environment learning game. But what have you learned?</p>
            </div>

            <div class="span3">
                  <%= f.label :accuracy_rating, t('review.accuracy_rating') %>
                  <%= f.text_field :accuracy_rating, class: 'rating_input', type: "number", min: 0, max: 5 %>
                  <p class="form-help">A number out of five, where 5 is the most scientifically accurate.</p>
                  <p class="form-help">Is the science presented accurately and is there a good amount of real science presented? Are there metaphors used and are they useful metaphors for thinking about the concepts? What have I learned and can I apply it to new situations? If the game presents basic concepts of science that can be applied to new situations, that is excellent!</p>
            </div>           

      </div>

		  <% if @current_user.is_admin? %>
		  <%= f.label :status, "Approval status" %>
		  <%= f.select :status, ["Pending", "Approved"] %>
		  <p class="form-help">Whether this review appears to the public. Only administrators can change this value.</p>
		  <% end %>

		  <%= f.hidden_field :game_id, value: @player_review.game.id %>

		  <p class="form-help" id="submit-help">After submitting, a site administrator will need to approve your review before it shows up. We're usually pretty prompt about it.</p>
		  <%= f.submit "Update review", :class => "btn btn-large btn-primary" %>
		<% end %>

		<p>
	  	<%= link_to "Delete review", @player_review, method: :delete, confirm: "Are you sure you want to destroy this review now and for the rest of time, with no going back?" %>
	  </p>
	</div>
</div>