<% provide(:title, "Upload a screenshot") %>

<h1>Upload a screenshot for <i><%= @game.title %></i></h1>

<%= form_for [@game, @screenshot], :html => { :multipart => true } do |f| %>

	<%= render 'shared/error_messages', object: f.object %>

  <%= f.label :image %>
	<% if f.object.image.file? %>
	<%= image_tag f.object.image.url(:large) %>
	<% end %>
	<%= f.file_field :image %>

	<%= f.label :description %>
  <%= f.text_area :description, rows: 10 %>
  <p class="form-help">Describe what's going on in this screenshot. This gives a better understanding of what the game is like and helps with searching and accessibility.<br/>Format using <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a>: **bold** _italics_ [link](http://example.com)</p>

  <p class="form-help" id="submit-help"><b>Be aware:</b> Upon saving, this screenshot will immediately be visible on the site.</p>
  <%= f.submit "Upload screenshot", :class => "btn btn-large btn-primary" %>
  
<% end %>
