<%= provide(:title, "Stats") %>
<h1>Stats</h1>


<%= form_tag(stats_path, method: :get) do %>
	<span>Time period: </span>
	<%= number_field_tag 'number', @number, min: 1, style: 'max-width: 100px;' %>
	<%= select_tag 'unit', %w[days weeks months years].map {|u| "<option #{'selected' if u == @unit}>#{u}</option>"}.join.html_safe, style: 'max-width: 100px;' %>
	<span> ago </span>
	<%= submit_tag 'Go', class: 'btn btn-primary' %>
<% end %>
<hr />
<h2>Users in the past <%= "#{@number} #{@unit}" %></h2>
<%= content_tag :div, "", id: 'users_chart', data: {users: @users_chart_data} %>
<hr />
<h2>Reviews in the past <%= "#{@number} #{@unit}" %></h2>
<%= content_tag :div, "", id: 'reviews_chart', data: {reviews: @reviews_chart_data} %>
<hr />
<h2>Games in the past <%= "#{@number} #{@unit}" %></h2>
<%= content_tag :div, "", id: 'games_chart', data: {games: @games_chart_data} %>
<hr />
<h2>User age group demographics for <i>all</i> users</h2>
<%= content_tag :div, "", id: 'ages_chart', data: {ages: @ages_chart_data} %>