<footer class="footer">
  <div class="row">
    <div class="span12">
    	<small>
    		Brought to you by <%= tracked_link_to "Molecular Jig Games", 'http://www.molecularjig.com/' %>
    	</small>
    	<nav>
        <ul>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Terms & Privacy", privacy_path %></li>
          <li><%= tracked_link_to "Twitter", 'http://www.twitter.com/SciGame' %></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
