<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Science Game Reviews", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Games",    '#' %></li>
          <li><%= link_to "By Subject",    '#' %></li>
          <li><%= link_to "By Platform",    '#' %></li>
          <li><%= link_to "Sign up", signup_path %></li>
          <li><%= link_to "Login", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>