<header class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "#{image_tag('navlogo_slice01.png', alt: 'Science', title: '')}#{image_tag('navlogo_slice02.png', alt: 'Game', title: '')}#{image_tag('navlogo_slice03.png', alt: 'Center', title: '')} #{Rails.env.staging? ? 'staging' : ''}".html_safe, root_path, class: "brand", style: 'padding-bottom: 0' %>

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <nav class="nav-collapse">
        <ul class="nav pull-right">
          <li><%= link_to "Find Games", games_path %></li>
          <li><%= link_to "Games by Subject", subjects_path %></li>
          <li><%= link_to "Review Games", review_path %></li>
          <li class="divider-vertical"></li>
        <% if signed_in? %>

          <% if current_user.is_admin? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "All users", users_path %></li>
              </ul>
            </li>
          <% end %>

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= gravatar_for current_user, size: 18 %><%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>

        <% else %>
          <li><%= link_to "Sign up", signup_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>