        <hr class="hidden-desktop" />
        <div class="span2" id="side_ads_container">
          <h3>SGC Sponsors</h3>
          <a href="#">
            <%= image_tag '140x140.gif', height: 140, width: 140, style: "margin-bottom: 10px; border: 1px solid #999;" %>
          </a>
          <a href="#">
            <%= image_tag '140x140.gif', height: 140, width: 140, style: "margin-bottom: 10px; border: 1px solid #999;" %>
          </a>
          <a href="#">
            <%= image_tag '140x140.gif', height: 140, width: 140, style: "margin-bottom: 10px; border: 1px solid #999;" %>
          </a>
          <a href="#">
            <%= image_tag '140x140.gif', height: 140, width: 140, style: "margin-bottom: 10px; border: 1px solid #999;" %>
          </a>
          <a href="#">
            <%= image_tag '140x140.gif', height: 140, width: 140, style: "margin-bottom: 10px; border: 1px solid #999;" %>
          </a>
          <a href="#">
            <%= image_tag '140x140.gif', height: 140, width: 140, style: "margin-bottom: 10px; border: 1px solid #999;" %>
          </a>
          <a href="#">
            <%= image_tag '140x140.gif', height: 140, width: 140, style: "margin-bottom: 10px; border: 1px solid #999;" %>
          </a>
          <a href="#">
            <%= image_tag '140x140.gif', height: 140, width: 140, style: "margin-bottom: 10px; border: 1px solid #999;" %>
          </a>
          
        </div>