<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/top_banners' %>
    <%= render 'layouts/header' %>
    <div class="container">
    	<% flash.each do |key, value| %>
        <% if !value.nil? && !value.empty? && key != :recaptcha_error %>
        <div class="alert alert-<%= key %>">
          <%= value %>
          <a class='close' data-dismiss='alert' href='#'>&times;</a>
        </div>
        <% end %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
      <%= render 'layouts/analytics' if Rails.env.production? %>
    </div>
  </body>
</html>