<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/top_banners' %>
    <%= render 'layouts/header' %>
    <div class="container" id="content-container">
      <%= render 'layouts/ie6_warning' %>
      <%= render 'layouts/flash', flash: flash %>

      <div class="row-fluid">
        <div class="span10">
          <%= yield %>
          <hr class="hidden-desktop" />
        </div>
        <div class="span2" id="side_ads_container">
          <% if current_page?(games_path) %>
            <%= render 'games/categories_bar' %>
            <%= render 'games/new_game_button' %>
            <hr />
          <% end %>
          <% if current_page?(blog_posts_path) || current_page?(root_path) %>
            <%= render 'blog_posts/topics_filter' %>
            <br />
          <% end %>
          <%= render 'layouts/side_banners' %>
          <%= render 'layouts/share_buttons' %>
          <%= render 'layouts/subscribe_follow' %>
        </div>
      </div>

      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
